    ------
    Developer
    ------
    Hendrik Schreiber
    ------
    ------

Developer

    Currently you can only build this library on OS X.

    To do so, you also need:

        * git

        * Maven 3.0.5, {{http://maven.apache.org/}}

        * a MinGW-w64 crosscompiler, {{http://mingw-w64.sourceforge.net/}}

        * Apple Command Line Tools, available via {{https://developer.apple.com/}}, or XCode, {{https://developer.apple.com/xcode/}}

        * the Windows JNI header files

        * a JDK (to run Maven and get the OSX JNI headers)

        * Doxygen, e.g. available via {{{http://www.macports.org}MacPorts}}

    Once you have all this set up, clone the repository like this:

+-------------------------------+
git clone git@github.com:hendriks73/ffsampledsp.git ffsampledsp
+-------------------------------+

    Then you still need to adjust some properties in the parent <<<pom.xml>>>.
    Or.. simply override them using <<<-Dname=value>>> notation. E.g. to point to your
    Windows JNI headers, add

+-------------------------------+
-Dmingw.headers.jni=/mywindowsjdk/include
+-------------------------------+

    to your mvn call. If you didn't add the <<<bin>>> folder of your crosscompiler to the
    <<<PATH>>>, you might also want to set <<<-Dmingw.i386.path=...>>> and <<<-Dmingw.x86_64.path=...>>>
    You might also need to change <<<mmacosx-version-min>>> and <<<isysroot>>>, if you
    don't have an OS X 10.6 SDK installed.

    So all in all, something like the following might work for you, depending on where
    you installed the Windows JNI headers, MinGW-w64, the OS X SDK, and the OS X JDK:

+-------------------------------+
mvn -Ddarwin.headers.jni=/Library/Java/JavaVirtualMachines/jdk1.8.0_40.jdk/Contents/Home/include/ \
    -Dmingw.headers.jni=/Users/YOUR_ID/mywindowsjdk/include \
    -Dmingw.i386.path=/Users/YOUR_ID/mingw/mingw-w32-i686/bin \
    -Dmingw.x86_64.path=/Users/YOUR_ID/mingw/mingw-w32-i686/bin \
    -Dmmacosx-version-min=10.7 \
    -Disysroot=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.7.sdk/ \
    clean install
+-------------------------------+

    Note, that the C sources in the module <<<ffsampledsp-x86_64-darwin>>> are expected to compile on
    all supported platforms. In fact, the very same sources <are> compiled in the modules
    for other platforms.

    <FFSampledSP> depends on {{{FFmpeg}http://www.ffmpeg.org/}} artifacts pulled from a Maven
    repository. The artifacts are pulled from <<<https://www.beatunes.com/repo/maven2>>> and
    built by the upstream project {{{http://www.tagtraum.com/ffmpeg/}tagtraum FFmpegPackage}}.
